version: "3.9"

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    env_file:
      - backend/mysite/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  backend:
    image: balamaniraja/django:latest
    container_name: backend
    env_file:
      - backend/mysite/.env
    depends_on:
      - postgres
    ports:
      - "8000:8000"
    restart: always

  frontend:
    image: balamaniraja/react:latest
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

volumes:
  postgres_data:

